<!-- Sidenav Menu Start -->
<div class="sidenav-menu">
  <!-- Brand Logo -->
  <a href="index.html" class="logo">
    <span class="logo-light">
      <span class="logo-lg"
        ><img src="assets/images/logo.png" alt="logo"
      /></span>
      <span class="logo-sm text-center"
        ><img src="assets/images/logo-sm.png" alt="small logo"
      /></span>
    </span>

    <span class="logo-dark">
      <span class="logo-lg"
        ><img src="assets/images/logo-dark.png" alt="dark logo"
      /></span>
      <span class="logo-sm text-center"
        ><img src="assets/images/logo-sm.png" alt="small logo"
      /></span>
    </span>
  </a>

  <!-- Sidebar Hover Menu Toggle Button -->
  <button class="button-sm-hover">
    <i class="ti ti-circle align-middle"></i>
  </button>

  <!-- Full Sidebar Menu Close Button -->
  <button class="button-close-fullsidebar">
    <i class="ti ti-x align-middle"></i>
  </button>

  <div data-simplebar>
    <!--- Sidenav Menu -->
    <ul class="side-nav">
      <li class="side-nav-item">
        <a href="index.html" class="side-nav-link">
          <span class="menu-icon"><i class="ti ti-dashboard"></i></span>
          <span class="menu-text"> Dashboard </span>
          <span class="badge bg-success rounded-pill">5</span>
        </a>
      </li>

      <li class="side-nav-title mt-2">Apps & Pages</li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarEcommerce"
          aria-expanded="false"
          aria-controls="sidebarEcommerce"
          class="side-nav-link"
        >
          <span class="menu-icon"><i class="ti ti-basket-filled"></i></span>
          <span class="menu-text"> Ecommerce </span>
          <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarEcommerce">
          <ul class="sub-menu">
            <li class="side-nav-item">
              <a href="apps-ecommerce-products.html" class="side-nav-link">
                <span class="menu-text">Products</span>
              </a>
            </li>

            <li class="side-nav-item">
              <a href="apps-ecommerce-products-add.html" class="side-nav-link">
                <span class="menu-text">Add Products</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="clearfix"></div>
  </div>
</div>
<!-- Sidenav Menu End -->
